.containerSpecials{
    border: 2px solid yellow;
    height: 250px;
    width: 200px;
}

.containerNumbers{
    border:2px solid purple;
    height:500px;
    width: 90%;
}
.containerOperators{ 
    border:2px solid gray;
    /* width:100%; */
    /* max-width: 120; */
    display: flex;
    flex-direction: column;
    height: 400px;
}